@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    padding: 1.5rem 0 0 0;
    margin-bottom: 2rem;
}

h1, h2 {
    font-family: 'Arvo', serif;
    color: #b50c09;
}

h1 {
    margin: 0 auto 1.5rem auto;
    font-size: 2.2rem;
    text-align: center;
    max-width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
}

.main-nav {
    list-style: none;
    margin: 0;
    padding: 0.6rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 1.5rem;
    border-top: 2px solid #F2C1B6;
    border-bottom: 2px solid #F2C1B6;
}

.main-nav a {
    text-decoration: none;
    color: #b50c09;
    font-weight: bold;
    font-size: 1.1rem;
}

#main-content {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;
    box-sizing: border-box;
}

.book {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto auto auto;
    row-gap: 1rem;
}

.book-info {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    text-align: right;
}

.book h2 {
    color: #b50c09;
    font-size: 1.6rem;
    margin: 0;
    grid-column: 1;
    grid-row: 2;
    text-align: left;
    align-self: end;
}

.book img {
    max-width: 100%;
    width: 200px;
    height: auto;
    margin: 0;
    grid-column: 1;
    grid-row: 3;
    justify-self: center;
}

.book-info p {
    margin: 0;
}

#desc {
    margin: 0;
    line-height: 1.6;
    grid-column: 1 / span 2;
    grid-row: 4;
    text-align: left;
}

footer {
    padding: 1.5rem 0;
    border-top: 2px solid #F2C1B6;
    text-align: center;
    margin-top: 2rem;
}

footer .author {
    margin: 0;
    font-size: 0.95rem;
}

@media (min-width: 750px) {
    html, body {
        height: 100%;
    }

    body {
        display: grid;
        grid-template-rows: auto 1fr auto;
        min-height: 100vh;
    }

    header {
        margin-bottom: 0;
    }

    .main-nav {
        display: grid;
        grid-auto-flow: column;
        padding: 0.6rem 3rem 0.6rem 0;
        gap: 2rem;
    }

    #main-content {
        margin: 4rem auto;
        display: grid;
        align-items: center;
        padding: 0 1rem;
    }

    .book {
        grid-template-columns: 180px 1fr;
        grid-template-rows: auto auto auto;
        justify-items: stretch;
        text-align: left;
        gap: 0;
    }

    .book-info {
        grid-column: 1;
        grid-row: 1 / span 3;
        padding-right: 2.5rem;
        border-right: 2px solid #F2C1B6;
        text-align: right;
    }

    .book h2, .book img, #desc {
        grid-column: 2;
        padding-left: 2.5rem;
    }

    .book h2 {
        grid-row: 1;
        margin-bottom: 1.5rem;
    }

    .book img {
        grid-row: 2;
        margin-bottom: 1.5rem;
    }

    #desc {
        grid-row: 3;
        margin-right: 8rem;
    }

    footer {
        margin-top: 0;
    }
}

@media (min-width: 1100px) {
    html, body {
        height: 100%;
    }

    body {
        display: grid;
        grid-template-rows: auto 1fr auto;
        min-height: 100vh;
    }

    .main-nav {
        display: grid;
        grid-auto-flow: column;
        padding: 0.6rem 3rem 0.6rem 0;
        justify-content: end;
        gap: 2rem;
    }

    #main-content {
        display: grid;
        margin-top: 1rem;
        align-items: start;
        transform: translateX(100px);
    }

    footer {
        margin-top: 0;
    }
}